*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.bg_color{
    background-color: #030303;
}
.bars_color{
    background-color: #FFFFFF !important;
}
.bg_content{
    max-width: 1716px;
    width: 100%;
    display: flex;

    
}
.full_container{
    max-width: 1407px;
    display: flex;
    justify-content: space-between;
}
.unordered_padd{
    padding-top: 16px;
    padding-bottom: 19px;
    width: 270px;
    display: flex;
}
.second_unordered{
    padding-top: 18px;
    padding-bottom: 15px;
    width: 49.9rem;
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}
.phone_unordered{
    padding-top: 18px;
    padding-bottom: 15px;
    width: 244px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_color{
    color: #FFFFFF;
    width: 2.5rem;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
}
.value_img_text{
    font-family: 'Poppins';
    font-size: 2.2rem;
    color: #000000;
    font-weight: 500;
    max-width: 46.2rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.7rem;
    padding-bottom: 3rem;
}

.nav_font_color{
    color: #FFFFFF!important;
    font-family: "Poppins";
    font-size: 1.8rem;
    text-decoration: none;
    
}

.container_1{
    position: relative;
}

.image_color{
    width: 100%;
    max-height: 67.6rem;
}
.overlaycolor{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0,1));
}
.centering_para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1452px;

}

.centering_para p{
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 5rem;

}
.centering_para h3{
    font-family: "Poppins";
    font-size: 6.4rem
}
.form_demo{
    position: relative;
}
.form_demo{
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translate(-50%,-50%);
    max-height: 206px;
    height: 100px;
    max-width: 1716px;
    width: 90%;
    background-color: #F43535;
}
.form_borders{
    background-color: #F43535;
    border: none;
    width: 306px;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
}



/* valueimages */
.bg_val_color{
    color: #FFFFFF;
}
.value_bg{
    max-width: 1704px;
    display: flex;
}
/* content */
.digital_heading{
    color: #000000;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 142rem;
    text-align: center;
}



.bg_card_color{
    background-image: linear-gradient(to bottom,#E2E7EA,#E0E5E8);
    padding-top: 7.1rem;

}
.card{
    max-width: 369px;
    /* max-height: 403px;  */
    background-color:rgba(0, 0, 0, 0.04);
    border-color: transparent;
    box-shadow: #000000;
    margin-right: 20px;
    padding: 20px;
}
.cards_section{
    width: 100%;
}
.visi_bg{
    background-color:#242424 ;
    color: #FFFFFF;
}
.misi_bg{
    background-color: #000000;
    color:#FFFFFF;
}
.heading{
    font-family: "Poppins";
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 6.1rem;
}
.number_text{
    font-family: "Poppins";
    font-size: 6rem;
    font-weight: 200;
}
.since_text{
    font-family: "Poppins";
    font-size: 2.2rem;
    font-weight: 400;
    max-width: 31.9rem;
}
.visi_text{
    font-family:"Poppins" ;
    font-size: 4.5rem;
    padding-top: 4.5rem;
}
.para{
    font-family:"Poppins" ;
    font-size: 2.2rem;
    font-weight:300 ;
    max-width: 67.3rem;
    padding-bottom: 2.4rem;
}
.year_text{
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 700;
}




















/* lorm episum */

.blog-head{
    text-align:center;
    color:#EA3A3A;
    font-family:"Poppins";
    font-size: 3rem;
    font-weight:400;
    margin-top:5px;
    padding-top: 8rem;
    padding-bottom: 1.4rem;
}
.main-head{
    color:#000000;
    text-align:center;
    font-size:5rem;
    font-family:"Poppins";
    font-weight:200;
    padding-bottom: 4.9rem;
}
.reach{
    margin:8.3rem 15px 0px 15px;
    height:100%;
    background-size: cover;
    background-color:#000000;
}
.card-container{
    background-color:#FFFFFF;
    margin-bottom:1rem;
    box-shadow:0px 3px 8px -6px rgb(100,100,100);
    /*box-shadow:0 8px 6px -6px lightgray;
    height:100px;
    width:200px; */  
}
.paragraph{
    padding:15px 0px  0px 5px;
    font-family:"Poppins";
    font-weight:300;
    max-width:250px;
    font-size: 2.2rem;
    padding-bottom: 3.3rem;
    padding-left: 3rem;
}
/* .white{
    padding-left:5px;
    margin-top:10px;
    color:black;
    font-size:20px;
} */
.arrow_color{
    color: #000000;
    width: 4.4rem;
    padding-top: 3.3rem;
    padding-bottom: 4.7rem;
    padding-left: 3.1rem;
}
.reachout{
    /* background-color:#000000; */
    /* height:360px; */
    padding-bottom: 14.4rem;
}
.phone{
    width:500px;
    border-bottom:white;
    border:1px solid lightgray;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-right:15px;
    color:white;
}
.reachout-para{
    color:#EA3A3A;
    text-align:center;
    font-family:"Poppins";
    font-size: 3rem;
    font-weight:400;
    margin-top: 8.6rem;

}
.reachout-head{
    text-align:center;
    color:white;
    font-family:"Poppins";
    font-size: 5rem;
    font-weight:200;
    padding-bottom: 12.5rem;
}
.input{
    border-bottom:white;
    border:1px solid lightgray;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-right:20px;
    color:white;
    padding-bottom:10px;
    width:250px;
}
.inputs{
    border-bottom:lightgray;
    border:1px solid white;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    color:white;
    width:70%;
}
.submit-btn{
    background-color:#F43535;
    border:none;
    color:white;
    font-family:"Poppins";
    font-size: 3rem;
    font-weight:bold;
    white-space: nowrap;
    padding:14px 20px 10px 14px;
}
.icon{
    text-align:right;
    color:white;
    font-size:20px;
    margin-left:40px;
}

/* queries */
@media (min-width:320px) and (max-width:425px){
    .second_unordered{
        width: 300px;
    }
    .digital_heading{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .heading{
        font-size: 30px;
    }
    .card{
        margin-right: 0px;
    }
    .para{
        font-size: 1.5rem;
    }
    .visi_text{
        font-size: 3rem;
    }
    .main-head{
        font-size: 3rem;
    }
    .paragraph{
        padding-bottom: 2rem;
    }
    .centering_para p{
        font-size: 1rem;
    }
    .centering_para h3{
        font-size: 1.8rem;
    }
    .phone_unordered{}
}
@media (min-width: 426px) and (max-width: 768px) {
    .centering_para p{
        font-size: 1.5rem;
    }
    .centering_para h3{
        font-size: 2.8rem;
    }
}   