*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.bg_color{
    background-color: #030303;
}
.bg_content{
    max-width: 1716px;
    width: 100%;
    display: flex;

    
}
.full_container{
    max-width: 1407px;
    display: flex;
    justify-content: space-between;
}
.unordered_padd{
    padding-top: 16px;
    padding-bottom: 19px;
    width: 270px;
}
.second_unordered{
    padding-top: 18px;
    padding-bottom: 15px;
    width: 499px;
    /* margin: 0 auto; */
}
.phone_unordered{
    padding-top: 18px;
    padding-bottom: 15px;
  width: 244px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_color{
    color: #FFFFFF;
    width: 1rem;
}

.nav_font_color{
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 1.8rem;
    text-decoration: none;
    
}
/* valueimages */
.bg_val_color{
    color: #FFFFFF;
}
.value_bg{
    max-width: 1704px;
    display: flex;
}
/* content */
.digital_heading{
    color: #000000;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 142rem;
    text-align: center;
}

/* numbercontainer */
.num_bg_ground{
    background-color: #E2E7EA;
    padding-top: 7.1rem;
}
.num_heading{
    font-family: "Poppins";
    font-size: 6.1rem;
    font-weight: 300;
    color: #000000;
    max-width: 65.8rem;
    margin: auto;
    padding-bottom: 6.1rem;
}
.card_count{
    background-color: #6E7B88;
    /* max-width: 369px; */
    border: 1px solid #707070;
    border-radius: 5px;
    /* height: 403px; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    /* margin-right: 5px; */

    
}
.number_text{
    font-family: "Poppins";
    font-size: 8rem;
    font-weight: 300;
    color: #000000;
    text-align: center;
    padding-top: 5rem;
}
.years_text{
    color: #000000;
    font-family: "Poppins";
    font-size: 2.2rem;
    text-align: center;
    max-width: 226px;
    margin: auto;
    padding-top: 2.2rem;
}
.since_text{
    color: #000000;
    font-family: "Poppins";
    font-size: 2.2rem;
    text-align: center;
    max-width: 319px;
    margin: auto; 
    padding-top: 3.5rem;
    padding-bottom: 6.9rem; 
    padding-right: 2.8rem;
}

.years_text1{
    color: #000000;
    font-family: "Poppins";
    font-size: 2.2rem;
    text-align: center;
    max-width: 28.2rem;
    margin: auto;
    padding-top: 2.2rem;
}
.years_text2{
    color: #000000;
    font-family: "Poppins";
    font-size: 2.2rem;
    text-align: center;
    max-width: 16.2rem;
    margin: auto;
    padding-top: 2.2rem;
}



/* lorm episum */

.blog-head{
    text-align:center;
    color:#EA3A3A;
    font-family:"Poppins";
    font-weight:400px;
    margin-top:5px;
}
.main-head{
    color:#000000;
    text-align:center;
    font-size:25px;
    font-family:"Poppins";
    font-weight:200px;
}
.reach{
    margin:5px 15px 0px 15px;
    height:100%;
    background-size: cover;
}
.card-container{
    background-color:#FFFFFF;
    margin-bottom:10px;
    box-shadow:0px 3px 8px -6px rgb(100,100,100);
    /*box-shadow:0 8px 6px -6px lightgray;
    height:100px;
    width:200px; */  
}
.paragraph{
    padding:15px 0px  0px 5px;
    font-family:"Poppins";
    font-weight:400px;
    max-width:250px;
}
.white{
    padding-left:5px;
    margin-top:10px;
    color:black;
    font-size:20px;
}
.reachout{
    background-color:#000000;
    height:360px;
}
.phone{
    width:500px;
    border-bottom:white;
    border:1px solid lightgray;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-right:15px;
    color:white;
}
.reachout-para{
    color:#EA3A3A;
    text-align:center;
    font-family:"Poppins";
    font-weight:400px;
}
.reachout-head{
    text-align:center;
    color:white;
    font-family:"Poppins";
    font-weight:200px;
}
.input{
    border-bottom:white;
    border:1px solid lightgray;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-right:20px;
    color:white;
    padding-bottom:10px;
    width:250px;
}
.inputs{
    border-bottom:lightgray;
    border:1px solid white;
    background-color: #000000;
    border-top:none;
    border-left:none;
    border-right:none;
    color:white;
    width:70%;
}
.submit-btn{
    background-color:#F43535;
    border:none;
    color:white;
    font-size:15px;
    font-family:"Poppins";
    font-weight:bold;
    padding:14px 20px 10px 14px;
}
.icon{
    text-align:right;
    color:white;
    font-size:20px;
    margin-left:40px;
}

/* queries */
@media (min-width:320px) and (max-width:425px){
    .second_unordered{
        width: 300px;
    }
    .digital_heading{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}